@font-face {
    font-family: 'Montserrat';
    src: url('-ftfqze4.html') format('woff2'),
        url('zvvvz4n8.html') format('woff'),
        url('d0xq6d6p.html') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat';
    src: url('1m6bbsqs.html') format('woff2'),
        url('pb8s_xo8.html') format('woff'),
        url('5h-ar86p.html') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat';
    src: url('ctpokzsg.html') format('woff2'),
        url('2935h52w.html') format('woff'),
        url('gc6n0ejd.html') format('truetype');
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: 'Montserrat';
    src: url('ay1v4bfe.html') format('woff2'),
        url('0nd-bhpu.html') format('woff'),
        url('etfuis8b.html') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat';
    src: url('2-z3tuam.html') format('woff2'),
        url('roa7rz_2.html') format('woff'),
        url('6ud29_rj.html') format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat';
    src: url('y__5s7w3.html') format('woff2'),
        url('noakpa5g.html') format('woff'),
        url('3tp48ma0.html') format('truetype');
    font-weight: 900;
    font-style: normal;
}





